/* 
David Vargas Carrillo
Arturo Cortés Sánchez
Sistemas de Información Basados en Web
Curso 2017 - 2018

Práctica 2
Estilos para la vista de articulo
*/

/* Article view */
.article {
    padding: 10px;
}

.article > .img-container {
    border-radius: 10px;
    box-shadow: 0px 15px 20px #e6e6e6;
    float: right;
    width: 38%;
    margin: 40px;
    margin-right: 0;
    margin-top: 0;
}

.article > .img-container img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    filter: grayscale(100%);
}

.article > .img-container p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:rgb(99, 99, 99);
    font-size: 90%;
}

.article > .img-container img:hover {
    filter: grayscale(0%);
}

.article h1 {
    font-family: 'Lora', serif;
    font-weight: normal;
    font-size: 40px;
}

.article > .date {
    font-family: 'Lora', sans-serif;
    color: rgb(177, 0, 0);
    margin-top: -15px;
    margin-bottom: 40px;
    font-weight: bold;
}

.article > .description {
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    padding-right: 30px;
    color:rgb(99, 99, 99);
}

.article-button {
    background-color: white;
    color: rgb(177, 0, 0);
    border: 1px solid rgb(177, 0, 0);
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.article-button:hover {
    background-color: rgb(177, 0, 0);
    color: white;
}

/* Photo gallery */
.photo-gallery li {
    background-color: #fff;
    padding: 10px;
}

.photo-gallery img {
    width: 250px;
    height: 250px;
}

.photo-gallery div {
    width: 900px;
    height: 300px;
    padding-top: 40px;
    margin: 0 auto;
}

.photo-gallery ul.box, ul.box2, ul.box3, ul.box4 {
    position: relative;
    z-index: 1; /* prevent shadows falling behind containers with backgrounds */
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}

.photo-gallery ul.box li, ul.box2 li, ul.box3 li, ul.box4 li {
    position: relative;
    float: left;
    margin: 0 30px 30px 0;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

/* Comments view */
.comments-block {
    display: none;
    position: relative;
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
}

.comment {
    border-bottom: 1px solid lightgray;
    padding-top: 10px;
}

.profile-img {
    float:left;
    margin: 20px;
    margin-right: 30px;
}

.profile-img img {
    float: left;
    height: 80px;
    width: 80px;
    border-radius: 40px;
}

.comment-text {
    padding: 20px;
    padding-left: 120px;
}

.comment-text p {
    margin-top: 0px;
}

.comment-author > #author-name {
    font-weight: bold;
    cursor: pointer;
}

.comment-date {
    color: grey;
    font-size: 14px;
}

.comments-block form {
    float:right;
    width: 85%;
    margin: 5px;
    margin-top: 0px;
}

.author-info {
    position: absolute;
    display: none;
    background-color: white;
    box-shadow: 0px 15px 20px #e6e6e6;
    border-radius: 10px;
    top: 0%;
    left: -30%;
    font-style: 'Roboto', sans-serif;
    text-align: center;
}

.author-info > h3 {
    font-weight: lighter;
    color: rgb(59, 59, 59);
    margin-bottom: 0;
}

.author-info > p {
    color: grey;
    font-size: 12px;
    margin-bottom: 20px;
}

.author-info > img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 250px;
    width: 250px;
}

.author-info > button {
    border: 1px solid rgb(177, 0, 0);
    border-radius: 5px;
    padding: 8px;
    background-color: white;
    color: rgb(177, 0, 0);
    font-size: 12px;
    left: auto;
    margin-bottom: 10px;
    cursor: pointer;
}

.author-info > button:hover {
    background-color: rgb(177, 0, 0);
    color: white;
}

.new-comment-title {
    font-weight: bold;
}

.new-comment-text {
    border: 1px solid rgb(161, 161, 161);
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px;
    vertical-align: text-top;
    width: 90%;
    height: 100px;
    font-size: 16px;
    resize: none;
}

.new-comment-name {
    border: 1px solid rgb(161, 161, 161);
    margin-top: 10px;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    width: 30%;
}

.new-comment-email {
    border: 1px solid rgb(161, 161, 161);
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    width: 56%;
}

.new-comment-button {
    background-color: grey;
    color: white;
    border: 1px solid grey;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    padding: 14px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 20%;
}

.new-comment-button:hover {
    background-color: rgb(100, 100, 100);
    color:white;
}
