/* 
David Vargas Carrillo
Arturo Cortés Sánchez
Sistemas de Información Basados en Web
Curso 2017 - 2018

Práctica 1
Estilos para la vista de impresion
*/

/* All elements */
* {
    text-decoration: none;
}

/* Header adaptation */
.brand-name {
    font-family: 'Playfair Display', serif;
    margin: 10px;
}

#nav-strip {
    height: 0px;
    padding-bottom: 20px;
    border-top: solid 1px lightgray;
}

/* Article view */
.article > .img-container {
    float: right;
    width: 38%;
    margin: 40px;
    margin-right: 0;
    margin-top: 0;
    border: 1px solid gray;
}

.article > .img-container img {
    border-bottom: 1px solid gray;
    width: 100%;
}

.article > .img-container p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:black;
}

.article h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 40px;
}

.article > .date {
    font-family: 'Roboto', sans-serif;
    color: grey;
    margin-top: -15px;
    margin-bottom: 40px;
    font-weight: bold;
}

.article > .description {
    font-family: 'Playfair Display', serif;
    color:black;
    text-align: justify;
}
